:root {
  --WHITE: #FFFFFF;
  --BLACK: #000000;
  --BACKGROUND-CODE: #1E1E1E;
  --GREY-01: #444d56;
  --GREY-02: #586E75;
  --GREY-03: #B8B8B8;
  --GREY-04: #8A8A8A;
  --GREY-05: #C4BBB0;
  --GREY-06: #999999;
  --GREY-07: #E0E0E0;
  --GREY-08: #8F8879;
  --SIDEBAR-BODY: #FFFFFF;
  --BODY-OUTSIDE-YOUNG: #D7CCBC;
  --WHITE-01: #FAFBFC;
  --WHITE-02: #C6CBD1;
  --WHITE-03: #FBD7D2;
  --MARK: #FFCC00;
  --GREEN-01: #00603C;
  --GREEN-02: #008352;
  --GREEN-03: #859900;
  --GREEN-04: #0C4B33;
  --RED-01: #DC322F;
  --RED-02: #C00000;
  --ORANGE-01: #FF7700;
  --YELLOW-01: #F3E681;
  --YELLOW-02: #FFDD57;
  --BROWN-01: #B2A493;
  --BROWN-02: #9B9185;

  --LGT-BG-OUTTER-01: #D7CCBC;
  --DRK-BG-OUTTER-01: #262626;

  --LGT-BG-OUTTER-02: #B2A493;
  --DRK-BG-OUTTER-02: #1E1E1E;

  --LGT-BG-OUTTER-BORDER-BTM: #9B9185;
  --DRK-BG-OUTTER-BORDER-BTM: #0E0E0E;

  --LGT-CONTAINER: #FFFFFF;
  --DRK-CONTAINER: #333333;

  --LGT-CONTAINER-BORDER: #B8B8B8;
  --DRK-CONTAINER-BORDER: #262626;

  --LGT-FOOTER: #B8B8B8;
  --DRK-FOOTER: #262626;

  --LGT-TABLE-TH: #C5D796;
  --DRK-TABLE-TH: #637044;

  --LGT-TABLE-TR-2N: #F3FAD8;
  --DRK-TABLE-TR-2N: #262626;
}

